body {
    margin: 0;
}
.box {
    display: flex;
}
#absolute {
    height: 0;
}
#absolute > * {
    position: absolute;
}
#playlistContainer {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: #444444;
    flex-wrap: nowrap;
    align-items: center;
    width: 20vw;
    border-radius: 5px;
}
.video {
    background: #444444;
    border-radius: 5px;

    text-align: center;
    margin: 1vw;
    padding: 1vw;
}
.video:hover {
    background: #666666;
}
.video > img {
    width: 100%;
    border-radius: 5px;
}
.video > * {
    margin: 0;
    color: white;
}
.video_title {
    font-size: 4vw;
}
.video_author {
    font-size: 2.5vw;
}
#video {
    top: 0px;
    width: 100vw;
    z-index: -1;
}
#thumbnail {
    width: 100vw;
    z-index: -2;
}
@media (max-width: 600px) {
    #playlistContainer {
        width: 45vw;
    }
    #absolute > * {
        position: relative;
    }
    .box {
        flex-direction: column-reverse;
    }
}
#settings {
    position: absolute;
    top: 1vw; right: 1vw;
    width: 6vw; height: 6vw;
    font-size: 3vw;

    border: none;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}
#settings:hover {
    background-color: #fefefe;
}
#s_settingsPanel {
    position: absolute;
    top: 8vw; right: 1vw;

    background-color: lightgray;
    border-radius: 1vw;
    padding: 1vw;
}
#s_settingsPanel > p {
    margin: 0;
}
#s_settingsPanel > span p {
    display: inline;
    font-size: 3vw;
}