body {
    margin: 0;
}
#playlistContainer {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: lightgrey;
    flex-wrap: nowrap;
    align-items: center;
    width: 20vw;
    border-radius: 5px;
}
.video {
    background: rgb(170, 170, 170);
    border-radius: 5px;

    text-align: center;
    margin: 5px;
    padding: 10px;
}
.video img {
    width: 90%;
}
.video-title {
    margin: 0;
}
