body {
    margin: 0;
    background-color: #111111;
}
h1 {
    color: white;
}
button {
    border: none;
    border-radius: 5px;
    z-index: 2;
}
span {
    font-size: 10px;
}
.box {
    display: flex;
}
#top > * {
    position: relative;
}
#playlistContainer, #playlistContainer > * {
    z-index: 1;
}
#playlistContainer {
    width: 20vw;
    background: #444444;

    position: absolute;
    margin-right: 5px;
    border-radius: 10px;

    transition: left 0.7s;
    transition-timing-function: ease;
}
#playlist {
    display: flex;
    height: 88vh;
    flex-direction: column;
    flex-wrap: nowrap;

    overflow-x: hidden;
    overflow-y: scroll;
}
.defaultPlaylistContainer {
    left: 5px;
    top: 5px;
}
.hiddenPlaylistContainer {
    left: -22vw;
}

#playlist::-webkit-scrollbar {
    background: #444444;
    border-radius: 10px;
}
#playlist::-webkit-scrollbar-track {
    background: #444444;
    border-radius: 10px;
}
#playlist::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #444444; /* adds space around thumb */
}

#playlistControls {
    position: sticky;
    overflow: visible;

    display: flex;
    align-items: center;
}
#playlistControls, #playlistControls > * {
    z-index: 3;
    margin: 5px;
}
#playlist_name {
    font-size: 1.5vw;
    color: white;
}
#togglePlaylistContainer { /* This is a button btw */
    transition: left 0.7s;
    transition-timing-function: ease;
}
#togglePlaylistContainer:hover {
    background: lightgray;
}
.hidePlaylistContainer {
    position: relative;
    left: 0;
}
.showPlaylistContainer {
    position: fixed;
    left: 5px;
}

.video {
    display: flex;
        align-items: center;

    background: #444444;

    padding: 5px;
}
.video:hover {
    background: #666666;
}

.video > img {
    max-width: 100%;
    width: 40%;
    border-radius: 5px;
}
.video_details {
    margin-left: 5px;
}
.video_details > * {
    margin: 0;
    color: white;
}
.video_title {
    font-size: 20px;
}
.video_author {
    font-size: 12px;
}
#video {
    position: relative;
    top: 0px;
    width: 100vw;
    z-index: 0;
}
#thumbnail {
    width: 100vw;
    z-index: -2;
}
#video_name {
    margin-left: 15px;
}
#video_author {
    margin-left: 15px;
    font-size: 10px;
    color: lightgray;
}
@media (max-width: 600px) {
    #playlistContainer {
        width: auto; height: auto;
        position: relative;
    }
    .hiddenPlaylistContainer {
        left: -100vw;
    }
    #playlist_name {
        font-size: 20px;
    }
    #playlist {
        height: 60vh;
    }
    #video_details {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    #video_name {
        margin: 10px;
    }
    #top > * {
        position: relative;
    }
    .box {
        flex-direction: column;
    }
    #top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video_title {
        font-size: 5vw;
    }
    .video_author {
        font-size: 2.5vw;
    }
}
#settings {
    position: absolute;
    top: 5px; right: 5px;
    width: 25px; height: 25px;
    font-size: 15px;

    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

    z-index: 2;
}
#settings:hover {
    background-color: #fefefe;
}
#s_settingsPanel {
    position: absolute;
    top: 35px; right: 5px;

    background-color: white;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}
#s_settingsPanel > * {
    z-index: 2;
}
#s_settingsPanel > p {
    margin: 0;
}
#s_settingsPanel > input p {
    display: inline;
    font-size: 16px;
}
#s_settingsPanel > button:hover {
    transition: all 0.5s;
    background-color: whitesmoke;
}